.card {
  display: flex;
  gap: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.image {
  max-width: 200px;
  height: fit-content;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.image img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
}

.info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.title {
  text-align: left;
  font-weight: 800;
  font-size: 1.5rem;
  margin: 8px 0;
}
.description {
  font-size: 1.2rem;
}
.dateTime {
  font-size: 0.9rem;
  color: #777;
  line-height: 1.7;
}

.buttons {
  display: flex;
  justify-content: end;
  gap: 20px;
}

.edit,
.delete {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.2s;
}

.edit:hover,
.delete:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.edit:active,
.delete:active {
  transform: scale(0.95);
}
